Button {
    -fx-background-color: #9B2226;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 0px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #F59E0B;
    -fx-border-width: 2px;
}

Button:hover {
    -fx-background-color: #7a1b1d;
    -fx-text-fill: #1C1917;
}

Button:pressed {
    -fx-background-color: #460f11;
}

.root {
    -fx-background-color: #FAF7F0;
}

#headerLabel{
    -fx-font-family: "Verdana Bold";
    -fx-font-size: 30px;
    -fx-text-fill: #b17457;
    -fx-pref-width: 600px;
    -fx-pref-height: 40px;
}