/* Định nghĩa màu sắc */
.root {
    -fx-background-color: #FAF7F0;
}

/* Phần nền bên phải */
Pane {
    -fx-background-color: #FAF7F0;
}

/* Ô nhập liệu */
TextField, PasswordField {
    -fx-background-color: #FFF;
    -fx-border-color: #B17457;
    -fx-border-width: 2px;
    -fx-text-fill: #000;
    -fx-font-size: 16px;
    -fx-padding: 5px;
    -fx-pref-width: 332px; /* Thiết lập chiều rộng */
    -fx-pref-height: 35px; /* Thiết lập chiều cao */
}

/* Nút đăng nhập */
Button {
    -fx-background-color: #9B2226;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #F59E0B;
    -fx-border-width: 2px;
}

Button:hover {
    -fx-background-color: #7a1b1d;
    -fx-text-fill: #1C1917;
}

Button:pressed {
    -fx-background-color: #460f11;
}

/* Tiêu đề chính */
.title-label {
    -fx-font-family: "Verdana Bold";
    -fx-font-size: 50px;
    -fx-text-fill: #b17457;
}

/* Nhãn chung */
.label-large {
    -fx-font-size: 24px;
    -fx-text-fill: #b17457;
    -fx-font-weight: bold;
}
